<div class="topnav" *ngIf="recentSearches">
    <span class="btn-group mr-2" *ngIf="recentSearches.length > 0">
        Recent Searches: 
        <a role="button" *ngFor="let item of recentSearches" (click)="searchFromHistory(item)">{{item}}</a>
        <button class="btn btn-secondary btn-sm" (click)="clearSearch()">Clear</button>
    </span>
    <div class="search-container">
        <form>
            <input type="text" placeholder="Enter keyword" (keydown.enter)="enterSearch($event)">
        </form>
    </div>
</div>
<div>

    <ul class="nav nav-tabs">
        <li class="nav-item" role="button" *ngFor="let menu of menus">
            <a class="nav-link" aria-current="page" [routerLinkActive]="'active fw-bold'" [routerLink]="['/', menu?.key]">{{menu?.key | titlecase}}</a>
        </li>
    </ul>

</div>