<!-- <div>

    <ul class="nav">
        <li class="nav-item" *ngFor="let menu of menus">
            <a class="nav-link active" aria-current="page" (click)="getList(menu?.value)">{{menu?.key | titlecase}}</a>
        </li>
    </ul>

</div> -->
<app-header (search)="search($event)" (navigate)="getList($event)"></app-header>
<div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of currentList">
            {{item?.name || item?.title}}
            <button type="button" class="btn btn-link" (click)="gotToDetails(item?.url)">More Details</button>
        </li>

    </ul>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item" [ngClass]="{'disabled': currentObj?.previous === null}" (click)="getList(currentObj?.previous)">
            <button class="page-link">Previous</button>
        </li>
        <li class="page-item" [ngClass]="{'disabled': currentObj?.next === null}" (click)="getList(currentObj?.next)">
            <button class="page-link">Next</button>
        </li>
    </ul>
</nav>